body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h1 {
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s;
}

.header-left h1 a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.header-left h1:hover,
.header-left h1 a:hover {
    color: #ccc;
}

.header-right ul {
    list-style-type: none;
    padding: 0;
}

.header-right ul li {
    display: inline;
    margin-right: 20px;
}

.header-right ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.header-right ul li a:hover {
    color: #ccc;
}

/* card_details.css */

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.form-group label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

.learn-more {
    color: blue;
    cursor: pointer;
    vertical-align: middle;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 3rem;
    text-align: center;
    margin-top: 0;
}