body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h1 {
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s;

}

.header-left h1 a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.header-left h1:hover,
.header-left h1 a:hover {
    color: #ccc;
}

.header-right ul {
    list-style-type: none;
    padding: 0;
}

.header-right ul li {
    display: inline;
    margin-right: 20px;
}

.header-right ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.header-right ul li a:hover {
    color: #ccc;
}

.cart-item img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.cart {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
}


.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.item-details {
    flex: 1;
}

.item-price-quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item-price {
    margin-bottom: 10px;
}

.item-quantity {
    width: 50px;
}

.item-total {
    font-weight: bold;
}

.cart-total {
    margin-top: 20px;
}

#totalPrice {
    font-weight: bold;
}

.pay-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pay-button:hover {
    background-color: darkgreen;
}

footer {
    background-color: #333;
    color: white;
    padding: 3rem;
    text-align: center;
    margin-top: 0;
}